{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title> Meșterii </title>
        <meta charset = "utf-8">
        <link rel = "shourtcut icon" href = "{% static 'images/mr.png' %}" type = "mr/png">
        <link rel = "stylesheet" href = "{% static 'css/style.css' %}" type = "text/css">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src = "https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity = "sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin = "anonymous"></script>
        <script src = "https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity = "sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin = "anonymous"></script>
        <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity = "sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin = "anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
        
    </head>

    <body>
        <div id = "main">
            {% if user.is_authenticated %}
                <nav class = "navbar navbar-inverse">
                    <div class = "container-fluid">  
                        <ul class = "nav navbar-nav">
                            <li class = "dropdown">
                                <a class = "dropdown-toggle" data-toggle = "dropdown" href = "#"> Setari cont <span class = "caret"></span></a>
                                <ul class = "dropdown-menu">
                                    <li><a href = "{% url 'logout' %}"> Deconectare </a></li>
                                    <li><a href = "{% url 'password_reset' %}"> Reseteaza parola </a></li>
                                </ul>
                            </li>
                            <li><a href = "{% url 'user' %}"> Editare profil </a></li>
                        </ul>
                    </div>
                </nav>
            {% else %}
                <nav class = "navbar navbar-inverse">
                    <div class = "container-fluid">
                        <ul class = "nav navbar-nav">
                            <li><a href = "{% url 'login' %}"> Logheaza-te </a></li>
                            <li><a href = "{% url 'accounts:registerUser' %}"> Inregistreza-te </a></li>
                        </ul>
                    </div>
                </nav>
             {% endif %}
        </div>
     
    </body>
    
</html>


