{% load socialaccount %}
{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Meșter</title>
    <link rel = "shourtcut icon" href = "{% static 'images/mr.png' %}" type = "mr/png">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div id = "main">
      <h1>Reseteaza parola</h1>
    </div>

    <div id = "header">
      
      {% block title %}Email trimis{% endblock %}

      {% block content %}
        <h1>Verificati casuta de email.</h1>
        <p>V-am trimis prin email instructiunile pentru resetarea parolei.</p>
      {% endblock %}

    </div>

  </body>

</html>