{% load socialaccount %}
{% load widget_tweaks %}
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title> Meșterii </title>
    <link rel = "shourtcut icon" href = "{% static 'images/mr.png' %}" type = "mr/png">
    <link rel = "stylesheet" href = "{% static 'css/style.css' %}" type = "text/css">
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div id = "main">
      <h1> Reseteaza parola </h1>
    </div>

    <div id = "header">
      {% block content %}
      <h2> Parola a fost resetata cu succes </h2>
        <p>
          Parola dvs. a fost resetata, puteti continua cu <a href = "{% url 'login' %}"> Logheaza-te </a> acum.
        </p>
      {% endblock %}
    </div>
  </body>
</html>