{% load socialaccount %}
{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Meșter</title>
    <link rel = "shourtcut icon" href = "{% static 'images/mr.png' %}" type = "mr/png">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div id = "main">
      <h1>Inregistreza-te</h1>
    </div>

    <div id = "header">
      <a href="{% url 'accounts:registerUser' %}"><button type="button" class="btn btn-primary btn-lg">Client</button> </a>
      <a href = "{% url 'accounts:registerMaster' %}"> <button type="button" class="btn btn-secondary btn-lg">Mester</button> </a>
      <section>          
        <form action="{% url 'accounts:registerMaster' %}" method="POST">
          {% csrf_token %}
          <p>Ai ales sa fii Mester, buna alegere!</p>
              <div class="field" name= "FirstName">
                <label for="{{ FirstName.id_for_label }}" class="label">

                  Primul nume
                  <input class="form-control valid" name="FirstName" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Introduce primul tau nume'" placeholder="Introduce primul tau nume">

                </label>
    
                <div class="control">
                  {{ FirstName|add_class:"input" }}
                </div>
    
                <p class="help is-danger">{{ FirstName.errors }}</p>
    
              </div>
              <div class="field" name = "LastName">
                <label for="{{ form.LastName.id_for_label }}" class="label">
                  Al doilea nume
                  <input class="form-control valid" name="LastName"  type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Introduce al doilea tau nume'" placeholder="Introduce al doilea tau nume">

                </label>
    
                <div class="control">
                  {{ form.LastName|add_class:"input" }}
                </div>
    
                <p class="help is-danger">{{ form.LastName.errors }}</p>
    
              </div>

            <div class="field" name = "Username">
            <label for="{{ form.Username.id_for_label }}" class="label">
              Numele de utilizator
              <input class="form-control valid" name="Username"  type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Introdu numele de utilizator'" placeholder="Introdu numele de utilizator">

            </label>

            <div class="control">
              {{ form.Username|add_class:"input" }}
            </div>

            <p class="help is-danger">{{ form.Username.errors }}</p>

          </div>
      
          <div class="field" name = "Email">
            <label for="{{ form.Email.id_for_label }}" class="label">
              Email
              <input class="form-control valid" name="Email"  type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Introdu emailul tau'" placeholder="Introdu emailul tau">

            </label>

            <div class="control">
              {{ form.Email|add_class:"input" }}
            </div>

            <p class="help is-danger">{{ form.Email.errors }}</p>

          </div>
      
          <div class="field" name = "Password">
            <label for="{{ form.Password.id_for_label }}" class="label">
              Parola
              <input class="form-control valid" name="Password"  type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Introdu parola ta'" placeholder="Introdu parola ta">

            </label>

            <div class="control">
              {{ form.Password|add_class:"input" }}
            </div>

            <p class="help">{{ form.Password.errors }}</p>

          </div>
          
          <div class="field" name = "Password1">
            <label for="{{ form.Password1.id_for_label }}" class="label">
              Verificare parola
              <input class="form-control valid" name="Password1"  type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Introdu parola ta'" placeholder="Introdu parola ta">

            </label>
            <div class="control">
              {{ form.Password1|add_class:"input" }}
            </div>

            <p class="help">{{ form.Password1.errors }}</p>

          </div>
       
        
            <div class="field">
              <div class="control">
                <button class="btn btn-success btn-lg">Inregistrare</button><br>
                <hr>
                <h2>SAU</h2>
                <a href="{% provider_login_url 'google' %}" role="button" class="btn btn-warning" name = 'statususer' value = 'Mester' aria-pressed="true">Inregistreza-te cu contul de Google </a>
                  <br>
                <a href="{% provider_login_url 'facebook' %}" role="button" class="btn btn-warning" aria-pressed="true">Inregistreza-te cu contul de Facebook </a>
              </div>
            </div>
        
           <a href = "{% url 'login' %}" class="btn btn-success" type = "button">Ai deja un cont? Logheaza-te</a>
        </form>
      </section>
    </div>
  </body>
</html>
