{% load socialaccount %}
{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Meșter</title>
        <meta charset="utf-8">
        <link rel = "shourtcut icon" href = "{% static 'images/mr.png' %}" type = "mr/png">
        <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>

    <body>
        <form action="{% url 'accounts:registerUser' %}" method="POST">
            {% csrf_token %}
            Hello {{ user.status }}!
            {{user.status}}
            <div class="form-group input-group">
                <select class="form-control" name = "status">
                    <option selected="">Din ce categorie doresti sa faci parte:</option>
                    <option value = "Mester" name = "status">Mester</option>
                    <option value = "Client" name = "status">Client</option>
                </select>

                <div class="control-group">
                    <div class="d-flex justify-content-center links">
                      <button class = "btn float-right login_btn" type = "submit"><i class="fas fa-user-plus"></i>  Inregistreaza-te</button>
                    </div>
                </div>            
            </div>
        </form>
    </body>
</html>


