{% load widget_tweaks %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>Me?ter</title>
    <meta charset="utf-8">
    <link rel = "shourtcut icon" href = "{% static 'profileClient/images/mr.png' %}" type = "mr/png">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script> 
  </head>

  <body>
    <form method = "POST" action = "{% url 'profileClient:user' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="text-center">
        <img src = "{{ user.profile.avatar.url }}" alt="Poza de profil" class="rounded mx-auto d-block">
        <h3>{{user.first_name}} {{user.last_name}}</h3>
        <h4>Status: {{user.status}}</h4>
      </div>
    </form>

    <div id = "border">
      <div class="btn-group">
        <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Setari cont<span class="caret"></span>
        </button>
        <div class="dropdown-menu">
          <li><a href="{% url 'logout' %}">Deconectare</a></li>
          <li><a href="{% url 'password_reset' %}">Reseteaza parola</a></li>
        </div>
        <a href = "/profileClient/about"><button type="button" class="btn btn-warning">Acasa</button></a>
        <a href = "/profileClient/photo"><button type="button" class="btn btn-warning">Fotografii</button></a>
        <a href = "/profileClient/craftsmen"><button type="button" class="btn btn-warning">Mesterii</button></a>
        <a href = "/profileClient/posts"><button type="button" class="btn btn-warning">Postari</button></a>
        <a href = "{% url 'profileClient:user' %}"><button type="button" class="btn btn-warning">Editare profil</button></a>
      </div>
    </div>
  </body>
</html>

<style>
html {
    background-color: aquamarine;
}
</style>